@import url('_fonts.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100%;
  min-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}


img {
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
}


.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.centered {
  text-align: center;
}

.dis-scroll {
  overflow-y: hidden;
}

.page--ios .dis-scroll {
  position: relative;
}